asgiref==3.11.1
crispy-bootstrap5==2026.3
Django>=6.0.6,<7.0
django-crispy-forms==2.6
django-polymorphic==4.11.5
et_xmlfile==2.0.0
gunicorn==26.0.0
openpyxl==3.1.5
pillow>=12.2.0
python-dateutil==2.9.0.post0
python-barcode>=0.16.1
python-decouple>=3.8
brother_ql>=0.9.4
sqlparse==0.5.5
tzdata==2026.2
