{% extends "admin/change_list.html" %}
{% load static %}

{% block content_title %}
    {{ block.super }}
    <div style="margin-top: 10px;">
        <strong>Status Legend:</strong>
        <span class="badge badge-new">New</span>
        <span class="badge badge-in-use">In Use</span>
        <span class="badge badge-drying">Drying</span>
        <span class="badge badge-stored">Stored</span>
        <span class="badge badge-depleted">Depleted</span>
    </div>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {{ media }}
{% endblock %}
